@import "../../../assets/styles";

.selectmechanicmodal {
    .modal-body {
        .mechanic-searchbox {
            input {
              width: 40%;
              height: 50px;
              border-radius: 15px;
              padding: 10px;
              margin: 20px 35px;
            }
          }

        .mechanic-choice {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .input-checkbox {
                input {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
            }

            .mechanic-label {
                display: inline-block;
                margin: 10px 20px;

                .mechanic-name {
                    background-color: $nineth-color;
                    height: 55px;
                    width: 400px;
                    font-size: 20px;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .addoption {
                margin: 10px 50px;
                
                input {
                    height: 55px;
                    width: 300px;
                    padding: 10px;
                    border-radius: 5px;
                }

                .addoption-button {
                    width: 90px;
                    padding: 12px;
                    font-size: 18px;
                    margin-left: 10px;
                    border-radius: 8px;
                    text-align: center;
                    color: $second-color;
                    background-color: $fourth-color;
                    display: inline-block;
                    cursor: pointer;
                }
            }
        }
    }
}

.confirmcanceleditmechanicmodal {
    .modal-body {
        font-size: 30px;
        margin: 30px 0px;
        text-align: center;
    }
}

.selectmechanicmodal,
.confirmcanceleditmechanicmodal {
    .modal-footer {
        justify-content: center;

        .button-no {
            width: 150px;
            padding: 10px;
            border-radius: 25px;
            background-color: $eighth-color;
            color: $second-color;
            text-align: center;
            margin: 10px;
            font-size: 18px;
            cursor: pointer;
        }

        .button-yes {
            width: 150px;
            padding: 10px;
            border-radius: 25px;
            background-color: $sixth-color;
            color: $second-color;
            text-align: center;
            margin: 10px;
            font-size: 18px;
            cursor: pointer;
        }
    }
}