@import '../../assets/styles';

.container {
  max-width: 100%;
  padding: 0;
}

.repair-title {
  margin-top: 50px;
  margin-left: 0;
  width: 450px;
  height: 60px;
  background-color: $sixth-color;
  border-radius: 0 30px 30px 0;

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $second-color;
    letter-spacing: 1px;
    font-family: $font-family1;
  }
}

.repair-table {
  margin: 30px 100px;

  .repair-numplate {
    width: 500px;
    height: 50px;
    margin-top: 35px;
    border-radius: 20px;
    padding: 10px;
    background-color: $fourth-color;

    cursor: pointer;

    td {
      letter-spacing: 1px;
      font-family: $font-family1;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}

.my-modal {
  width: 100vw;
  height: 100vh;
}

.form-container {
  padding: 40px 60px;
}

.customer-form {
  .col {
    padding: 10px 60px;
  }
}

.form-control {
  height: 55px;
  background-color: $nineth-color;
  border-radius: 20px;
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  width: 180px;
  border-radius: 50px;
  background-color: $fourth-color;
}


.modal-footer {
  // justify-content: flex-start;

  .cancel-button {
    background-color: $fourth-color;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
  }

  .save-button {
    background-color: $fourth-color;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    margin: 0px 20px;
    cursor: pointer;
  }
}

.add-button {
  background-color: $fifth-color;
  font-size: 20px;
  font-weight: bold;
  width: 120px;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  margin: 15px 0px;
  cursor: pointer;
}

.delete-carregis{
  img {
    width: 50px;
  }
}

.carregis-button {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  margin-left: 30px;
  border-radius: 15px;
  text-decoration: none;
  background-color: $seventh-color;
}