@import "../../assets/styles";

.history {
  .history-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .history-history {
      width: 17vw;
      background-color: $fifth-color;
      padding: 0.6vw;
      font-size: 1.55vw;
      font-weight: 700;
      border-radius: 30px;
      text-align: center;
    }
  }

  .history-filter {
    padding: 1vw 2vw;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    .history-filter-sub-con {
      width: 100%;
    }

    .col1,
    .col2 {
      width: 26.7%;
    }
    label {
      font-size: 1.1vw;
    }

    input {
      width: 100%;
      height: 3vw;
      border-radius: 15px;
      font-size: 1.25vw;
      padding: 8px;
    }

    .history-filterbutton {
      width: 8%;
      height: 3vw;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      font-size: 1.1vw;
      font-weight: 600;
      background-color: $fourth-color;
      align-self: end;
    }
  }

  .history-item {
    margin-top: 30px;

    .col-containner {
      width: 65%;
    }

    .history-customer {
      background-color: $nineth-color;
      border-radius: 15px;
      margin: 20px 50px;
      padding: 20px;
      font-size: 1.25vw;
      cursor: pointer;

      .history-detail {
        font-size: 1.35vw;
        font-weight: 600;
      }

      .history-repair {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .history-date {
      text-align: right;
    }
  }

  @media only screen and (max-width: 1440px) {
    .history-filter {
      label {
        font-size: 16px;
      }
      input {
        height: 43px;
        font-size: 18px;
      }
      .history-filterbutton {
        font-size: 16px;
        height: 43px;
      }
    }
    .history-head {
      .history-history {
        width: 245px;
        padding: 8.7px;
        font-size: 22.5px;
      }
    }

    .history-item {
      .history-customer {
        font-size: 18px;

        .history-detail {
          font-size: 19.5px;
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .history-item {
      .history-customer {
        font-size: 16px;

        .history-detail {
          font-size: 17.5px;
        }
      }
    }
  }

  @media only screen and (max-width: 960px) {
    .history-head {
      .history-history {
        width: 220px;
        padding: 8px;
        font-size: 20px;
      }
    }

    .history-filter {
      .col1 {
        width: 98%;
      }
      .col2 {
        margin-top: 10px;
        width: 38%;
      }
      label {
        font-size: 15px;
      }
      input {
        height: 40px;
        font-size: 16px;
      }
      .history-filterbutton {
        width: 10%;
        height: 40px;
      }
    }

    .history-item {
      .col-containner {
        width: 55%;
      }
    }
  }
}