@import "../../../assets/styles";

.statusmodal {
    .status-header-container {
        display: flex;
        justify-content: center;
        margin: 15px;

        .status-header {
            width: 450px;
            text-align: center;
            background-color: $fourth-color;
            padding: 15px;
            border-radius: 20px;
            font-size: 22px;
            font-weight: bold;
        }
    }

    .status-container {
        margin: 40px 0px 20px 0px;

        .col-2 {
            width: 20%;
        }

        .status {
            width: 200px;
            height: 200px;

            .state-circle1 {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 5px solid #c2c1c1;
                position: absolute;
            }

            .state-circle2 {
                width: 160px;
                height: 160px;
                border-radius: 50%;
                background-color: #c2c1c1;
                margin: 20px;
                position: absolute;

                img {
                    width: 120px;
                    margin: 20px;
                }
            }
        }

        .status-active {
            width: 200px;
            height: 200px;

            .state-circle1 {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 5px solid $third-color;
                position: absolute;
            }

            .state-circle2 {
                width: 160px;
                height: 160px;
                border-radius: 50%;
                background-color: $third-color;
                margin: 20px;
                position: absolute;

                img {
                    width: 120px;
                    margin: 20px;
                }
            }
        }

        .state-label {
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            margin-top: 20px;
        }

        .statebutton-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            .button-true {
                background-color: $sixth-color;
                color: white;
                width: 120px;
                padding: 12px;
                text-align: center;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
            }

            .button-false {
                background-color: $seventh-color;
                color: white;
                width: 120px;
                padding: 12px;
                text-align: center;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

    .modal-footer {
        justify-content: center;

        .button-no {
            width: 150px;
            padding: 10px;
            border-radius: 25px;
            background-color: $eighth-color;
            color: $second-color;
            text-align: center;
            margin: 10px;
            font-size: 18px;
            display: inline-block;
            cursor: pointer;
        }

        .button-yes {
            width: 150px;
            padding: 10px;
            border-radius: 25px;
            background-color: $sixth-color;
            color: $second-color;
            text-align: center;
            margin: 10px;
            font-size: 18px;
            display: inline-block;
            cursor: pointer;
        }
    }

    .status-price-container {
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}