@import '../../../assets/styles';

.management {

    .management-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    
    
        .management-title {
            width: 300px;
            background-color: $fifth-color;
            padding: 10px;
            font-size: 25px;
            font-weight: 700;
            border-radius: 30px;
            text-align: center;
        }
    }
    
    .tabview {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    
        .non-active {
            width: 250px;
            margin: 0px 10px;
            padding: 10px;
            border-radius: 20px;
            background-color: $fourth-color;
            cursor: pointer;
        }
    
        .active {
            width: 250px;
            margin: 0px 10px;
            padding: 10px;
            border-radius: 20px;
            background-color: $fifth-color;
            cursor: pointer;
        }
    }
}