button {
  font-size: 18px;
  font-weight: bold;
  background-color: #aeaeae;
  color: rgb(0, 0, 0);
  padding: 15px;
  margin: 20px;
  border: none;
  border-radius: 20px;
}
 
button.active {
    background-color: #46ab4a;
    color: white;
  }
   