@import '../../../assets/styles';
  
button {
    font-size: 20px;
    font-weight: bold;
    background-color: $seventh-color;
    color: $first-color;
    padding: 15px;
    margin: 25px 20px;
    border: none;
    border-radius: 20px;
}

button.active {
    background-color: $sixth-color;
    color: $second-color;
}