@import '../../assets/styles';

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title-register {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

.register-form {
    label {
        font-weight: bold;
        font-size: 22px;
    }

    input {
        background-color: $seventh-color;
        border-radius: 15px;
        width: 500px;
        padding: 17px;
        margin: 10px 0px;
    }

    select {
        background-color: $seventh-color;
        border-radius: 15px;
        width: 500px;
        padding: 17px;
        margin: 10px 0px;
    }

    .error-form {
        color:$eighth-color;
        font-size: 18px;
    }
}

.button-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    background-color: $sixth-color;
    color: $second-color;
    border-radius: 30px;
    margin: 20px auto;
}